*{
  box-sizing: border-box;
}

div{
  border:1px solid orange;
  height:100%;
}
html,body{
  padding:0;
  margin:0;
  height:100%;
  width:100%
}
#root{
  margin:0;
  padding:0;
  height:100%;
  width:100%;
}
.main-container{
  height:100%;
  width:100%;
  background:#C2D3DD;
  margin:0;
  padding:0;
  margin-top:0px;
  margin-top:0px;
  display: flex;
  flex-direction: row;
}
.side-container{
  background:#4C5357;
  width:15%;
  display:flex;
  color:white;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height:100%;
  font-family: monospace;
  font-size: 100%;
}
div .side-container-content{
 display:flex;
 align-items:center; 
 justify-content: center;
 flex-direction:column;
 border:1px solid black;
}
div .nested-main-container{
  background:#c2d3dd;
  width:85%;
  margin-right:-20px;
  /*display:flex;
  align-items: center;
  justify-content: center;*/
  border:1px solid red;
  height:100%;
}
.form-page-container{
  display:flex;
  justify-content:center;
  align-items:center;
}
.form-container{
  height:100%;
  width:100%;
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
}
input, label {
  display:block;
}
.server-page-container{
  border:1px solid purple;
  background-color:rgba(0,0,0,0.3);
  height:100%;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.servers-container{
  border:1px solid yellow;
  background-color:rgba(50,50,50,0.3);
  width:100%;
  height:50%;
  overflow-y:scroll;
}
div .server-container{
  background-color:rgba(50,50,50,0.3);
  border:1px solid green;
  display:flex;
  height:60%;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}